  <div class="container grid-960">
    <!-- Logo & Navbar -->
    <div class="columns">
      <div class="column">
        <img src="img/logo.png">
      </div>
      <div class="column">
        <nav>
          <ul class="tab tab-block">
            <li class="tab-item"><a href="/">Lieferservice</a></li>
            <li class="tab-item"><a href="/guestbook.html">Gästebuch</a></li>
            <li class="tab-item"><a href="/map.html">Anfahrt</a></li>
            <li class="tab-item"><a href="/terms.html">AGB</a></li>
            <li class="tab-item"><a href="/admin.html">Administration</a></li>
          </ul>
        </nav>
      </div>
    </div>
