  <!--
  In dieser Datei kann der HTML code für das Logo und die Navigation abgelegt
  werden. Navigationslinks (a) werden meistens durch eine Auflistung (ul, li)
  aufgezählt. Handelt es sich (wie in diesem Fall) um die Hauptnavigation der
  Seite, wird seit HTML5 zusätzlich das nav Element verwendet um dies gegenüber
  Suchmaschinen und Screenreadern anzuzeigen.
  Für das einbinden des Logos wird das img Element benötigt. Sie finden ein
  Beispiellogo im img Order welches Sie für diesen Zweck verwenden können.
  -->
  <header>
    <div>
      <div>
        <img src="img/logo.png">
      </div>
      <div>
        <nav>
          <ul>
            <li><a href="/">Über mich</a></li><!--
            --><li><a href="/guestbook.html">Blog</a></li><!--
            --><li><a href="/map.html">Impressum</a></li><!--

          </ul>
        </nav>
      </div>
    </div>
    <script type="text/javascript" src="Js/script.js"></script>
  </header>
