<nav>
  <ul class="tab tab-block">
    <li class="tab-item {{#is basename 'index'}}active{{/is}}"><a href="/">Lieferservice</a></li>
    <li class="tab-item {{#is basename 'guestbook'}}active{{/is}}"><a href="/guestbook.html">Gästebuch</a></li>
    <li class="tab-item {{#is basename 'map'}}active{{/is}}"><a href="/map.html">Anfahrt</a></li>
    <li class="tab-item {{#is basename 'terms'}}active{{/is}}"><a href="/terms.html">AGB</a></li>
    <li class="tab-item {{#is basename 'admin'}}active{{/is}}"><a href="/admin.html">Administration</a></li>
  </ul>
</nav>
